/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* 
#212121 
#FFFFFF 
#757575 
#2196F3 
#EEEEEE 
#000000 
#F5F4FA 
#FFFFFF 60 % 
#2F303A 
#ECECEC 
#188CE8 
*/

:root {
  --primary-text-color: #757575;
  --secodary-text-color: #212121;
  --hero-text-color: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --accent-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --btn-active-color: #188ce8;
  --second-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --border-box-color: #eeeeee;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

::selection {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  color: var(--second-logo-color);
  text-decoration: none;
}
.logo-brand {
  color: var(--accent-color);
}

/* Site Nav */
.list {
  list-style: none;
}

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-nav {
  color: var(--secodary-text-color);
}

.link-contact {
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.carrent {
  color: var(--accent-color);
}

/* Main */

/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.button {
  font-family: inherit;
  font-size: 16px;
  text-align: center;

  border-radius: 4px;
  cursor: pointer;
}

.hero-btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--btn-active-color);
}

/* Section */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secodary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Features */

.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secodary-text-color);
}

/* About */

/* Team */

.team {
  background-color: var(--accent-bg-color);
}

.team .item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secodary-text-color);
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
}

.logo-footer {
  color: var(--hero-text-color);
}

.link-adress {
  font-style: normal;
  color: var(--hero-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-footer {
  font-style: normal;
  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Portfolio */

.portfolio-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);

  background-color: var(--accent-bg-color);
  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--hero-text-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn.carrent {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secodary-text-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.portfolio-list {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--border-box-color);
  width: 370px;
  height: 404px;
}
